/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}