@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('./sroll-bar.css');

* {
    border: none;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --font-xxxlarge: 27px;
    --font-xxlarge: 24px;
    --font-xlarge: 21px;
    --font-large: 18px;
    --font-medium: 15px;
    --font-small: 13px;
    --font-xsmall: 11px;

    --weight-bold: 700;
    --weight-medium: 500;
    --weight-light: 300;

    --dark-gray: #303030;
    --blue-black: #0D0D1F;
    --deep-blue-black: #0A0A0F;

    --perfil-img-dimen: 200px;

    font-size: var(--font-medium);
    font-weight: var(--weight-medium);
}

body {

    display: flex;
    justify-content: center;
    background-color: var(--dark-gray);
}

.page-content {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    grid-template-areas: 
    "aside main";
}

main {
    grid-area: main;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 15px;
    background-color: var(--blue-black);
    color: white;
    overflow-y: scroll;
}

.topic-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--font-small);
}

.topic-title-container {
    --border: 1px solid white;
    padding-bottom: 5px;
    border-bottom: var(--border);
}

.topic-title {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
}

.topic-content-container {
    display: grid;
    grid-template-columns: 140px 1fr;
    line-height: 23px;
}

.topic-info-bold {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.habilities-list > li {
    list-style: disc;
}

aside {
    grid-area: aside;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "perfil-img"
        "contact"
    ;
    gap: 20px;
    padding: 20px 15px;
    background-color: var(--deep-blue-black);
    color: white;
}

.perfil-img-div {
    width: var(--perfil-img-dimen);
    height: var(--perfil-img-dimen);
}

.perfil-img {
    width: var(--perfil-img-dimen);
    height: var(--perfil-img-dimen);
    border-radius: 100%;
    border: 3px solid white;
}

.contact-container {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-name {
    font-size: var(--font-xxxlarge);
    font-weight: var(--weight-bold);
}

.contact-info-container {
    display: flex;    
    flex-direction: column;
    gap: 15px;
    font-size: var(--font-small);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info-tag {
    font-weight: var(--weight-bold);
}

@media screen and (max-width: 750px) {
    :root {
        --perfil-img-dimen: 150px;
    }

    .page-content {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "aside"
            "main"
        ;
        gap: 0;
    }

    aside {
        grid-template-columns: auto 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 
            "contact perfil-img"
        ;
    }
}
